.container{
    width: 100%;
    overflow: hidden;
    /* background: green; */

}
body{
    font-family: "poppins",sans-serif;
    --main-hue:208;
    --light-main-color:hsl(var(--main-hue),91%,55%)
     --input-bg:hsla(var(--main-hue),50%,50%,6.5%);
     --input-bg-hover:hsla(var(--main-hue),50%,50%,14%);
     --light-text-color:#9ca7b6;
     --input-text:#8c9aaf;
      --main-color:hsl(var(--main-hue),92%,54%);
      --main-color-hover:hsl(var(--main-hue),77%,48%);
      --text-color:#000;
      background: #182747;
}
.dark{
    --bg-color:hsl(var(--main-hue),30%,16.5%);
    --input-bg:hsla(var(--main-hue),22%,50%,11%);
    --input-bg-hover:hsla(var(--main-hue),22%,50%,18.5%);
    --light-text-color:hsl(var(--main-hue),12%,46%);
    --input-text:hsl(var(--main-hue),10%,55%);
    --input-shadow:hsla(var(--main-hue),92%,58%,0.2);
    --text-color:#fff;


}
.contact .container{
    height: 100vh;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;

}
.contact .container >div{
    grid-column: 1/2;
    grid-row: 1/2;

}

.left{
width: 100%;
max-width: 80rem;
margin: 0 auto;
/* background-color: khaki; */
padding:65px 1.5rem 0 ;
display: grid;
grid-template-columns:repeat(2,1fr) ;
align-items: center;
position: relative;
z-index:2 ;

}

.contact-heading h1{
    font-weight: 600;
    color: var(--text-color);
    font-size: 3.5rem;
    line-height: 0.9;
    white-space:nowrap ;

}

.contact-form{
    display: grid;
    margin-top: 2.55rem;
    grid-template-columns: repeat(2 ,1fr);
    column-gap: 4rem;
    row-gap:1rem ;
}
.input-wrap.w-100{
    grid-column: span 2;

}

.contact-input{
    width: 100%;
    /* background-color: hsla(var(--main-hue),50%,50%,6.5%); */
    background-color: #D8D8D8;
    /* background-color:rgb(222, 237, 243) ; */
    border: none;
    outline: none; 
     padding: 1.5rem 1.35rem calc(0.75rem - 2px  ) 1.35rem; 
     border-radius: 20px;
     font-family: inherit;
     /* color: var(--text-color); */
     color: #fff;
     font-weight: 600;
     font-size: 0.95rem;
     transition: 0.3s;
     border: 2px solid transparent;
     box-shadow: 0 0 0 0px hsla(var(--main-hue),92%,54%,0.169);
       
 

}


.contact-input:hover{
    background-color: var(--input-bg-hover);

}

.input-wrap{
    position: relative;
}
.input-wrap label{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
     /* color:var(--light-text-color); */
     color: #562B08;
     pointer-events: none;
     transition: .25s;

}

.input-wrap .icon{
   position: absolute;
   right: calc(0rem + 0px);
   top:50% ;
   transform: translateY(-50%);
   pointer-events: none;
   color: var(--input-text);
   font-size: 1.25rem;
transition: 0.3s;
}

textarea.contact-input{
    resize: none;
    width: 100%;
    min-height: 150px;
    
}

textarea.contact-input~label{
top: 1.2rem;
transform: none;

}


textarea.contact-input~.icon{
    top: 1.3rem;
    transform: none;
    
    }

    .form-wrapper{
        /* display: grid; */
        max-width:32rem ;

    }


    .input-wrap.focus .contact-input{
        background-color: var(--bg-color);
        border: 2px solid hsla(var(--light-main-color),91%,55%);
        /* box-shadow: 0 0 0 5px hsla(var(--main-hue),91%,55%,0.11); */
box-shadow:0 0 0 2px rgb(123, 205, 238);
    }

    .input-wrap.focus label{
        color: rgb(22, 166, 223);
    }

    .input-wrap.focus .icon{
color:rgb(22, 166, 223);
    }




    .input-wrap.not-empty label{
    font-size: .70rem;
    top: 0.75rem;
    transform:translateY(0) ;
    }

    .contact-button{
        margin-top: 1rem;
        margin-left: 110px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
        margin-top: 1rem;
        width: 100%;
        grid-column: span 2;


      }

        .button{
        display: inline-block;
        padding: 1.1rem 2rem;
        background-color:rgb(22, 166, 223) ;
        color: #fff;
        border-radius: 40px;
        font-family: inherit;
        border: none;
        font-weight: 500;
        font-size:1rem ;
        /* padding: 1rem; */
        /* width: 100%; */
        /* height:50px; */
    cursor: pointer;

      }  
     .button:hover{
        background-color: var(--main-color-hover);
     }
     .right{
        display: grid;
        grid-template-columns:repeat(2 ,1fr) ;
        overflow: hidden;
        pointer-events: none;
     }


     .image-wrapper{
        position: relative;
        grid-column: 2;
         /* background-color:green ;  */
    
    }
 .image-wrapper .img{
    position: absolute;
    height: 130%;
    left: 60%;
    top: 50%;
    transform: translate(-50% ,-50% );  
}

 .wave-wrap
{
position: absolute;
width: 100%;
height: 100%;
top: 0;
right: 100%;
background-color: #182747;
} 
#wave{
    fill: #182747;
    height: 100%;

}  



.wave-wrap svg{
    /* background-color: red; */
    position: absolute;
    height: 100%;
    top: 49%;
    transform: translateY(-50%);
    left:99%;
}

.dashed-wave{
    position: absolute;
    /* background-color: red; */
    height:130%;
   bottom: 60%;
   left: -28px;
    z-index:3 ;
    transform: translateY(50%);

}
#dashed-wave{
    fill: none;
    stroke:#fff ;
    stroke: width 1px; 
    stroke-dasharray: 6.5;
    opacity: 0.8;
}
.heading{
width: 100%;

}
.heading h3{
 font-family: sans-serif;
 font-size: 1.8rem;
 text-transform: uppercase;
 color: #562B08;


}
.heading h3 span{
    color:rgb(22, 166, 223) ;
}

@media screen and (max-width:1000px) {
    .contact-form{
        display: grid;
        margin-top: 1.9rem;
        column-gap: 6rem;
        row-gap: 0.65rem;
    }


    

.form-wrapper {
   
    max-width: 20rem;
}

    .contact-input{
        border-radius: 17px;
        font-size: 0.87rem;
        padding: 1.5rem 1.2rem calc(0.75rem -  2px) 3.2rem;
    } 
    
    .input-wrap label{
        font-size: 12px;
        left:10px;
    }
    .input-wrap .icon{
        font-size: 1.1rem;
        right: -59px;
    }

    .heading h3 {
        font-family: sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        color: #562B08;
    }

    .dashed-wave{
        left: -25px;
        bottom: 30%;
        transform: translateY(34%);

    }
#dashed-wave{
    stroke-width: .7px;
      stroke-dasharray: 6;
}
    .wave-wrap{
      transform: translateX(-10%);
      right: 91%;

    }

    .wave-wrap svg{
       height:calc(110%+10px) ; 
       transform: translate(-5%,-30%);
       top: 30%;

    }

  
}

@media screen and (max-width:650px) {
    .left{
        padding: 50px 1.5rem;
        grid-template-columns: 1fr;
        justify-content: center;

    }
.right{
    display: none;
}
.form-wrapper{
   width: 70%;
    padding: 1rem 0;
}
.contact-form{
    display: grid;
    margin-top: 1.9rem;
    column-gap: 6rem;
    row-gap: 0.65rem;
}
.button {
    display: inline-block;
    padding: 1.1rem 0.5rem;
    background-color: rgb(22, 166, 223);
    color: #fff;
    border-radius: 40px;
    font-family: inherit;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    /* padding: 1rem; */
    /* width: 100%; */
    /* height: 50px; */
    cursor: pointer;
}

.cursor{
    display: none;
}
.cursor2{
    display: none;
}


}

/* 

@media screen and (max-width:600px) {
    .left {
        padding: 65px 2.5rem 0;
        width: 100%;
        max-width: 119rem;
        margin: 0 auto;
        padding: 95px 16.5rem 0;
        padding: 65px 1.5rem 0;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        align-items: center;
        position: relative;
        z-index: 2;
    }

    .input-wrap .icon {
        position: absolute;
        right: calc(0rem + -63px);
        top: 50%;
        transform: translateY(-50%);
        pointer-events: none;
        color: var(--input-text);
        font-size: 1.25rem;
        
    }



    .contact-input {
        width: 100%;
      
        background-color: #D8D8D8;
        
        border: none;
        outline: none;
        padding: 1.5rem 4.35rem calc(0.75rem - 2px ) 0.35rem;
        border-radius: 20px;
        font-family: inherit;
      
        color: #fff;
        font-weight: 600;
        font-size: 0.95rem;
        transition: 0.3s;
        border: 2px solid transparent;
        box-shadow: 0 0 0 0px hsla(var(--main-hue),92%,54%,0.169);
    }
    .contact-form {
        display: grid;
        margin-top: 2.55rem;
        grid-template-columns: repeat(2 ,1fr);
        column-gap: 6rem;
        row-gap: 1rem;
    }

    .heading h3 {
        font-family: sans-serif;
        font-size: 25px;
        text-transform: uppercase;
        color: #562B08;
    }


    .input-wrap label {
        font-size: 12px;
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
       
        color: #562B08;
        pointer-events: none;
        transition: .25s;
    }

} 


*/
 
.cursor{
    position: fixed;
    width: 50px;
    height: 50px;
    border: 1px solid black;
   
     border-radius: 50%;
     left: 0;
     top: 0;
     pointer-events: none;
     transform: translate(-50%,-50%);
    
   transition: .1s;
    box-shadow: 0px 0px 20px #73cdbe;
  
}
 .cursor2{
    position: fixed;
    width: 30px;
    height: 30px;

    background-color: transparent;
 
     border-radius: 50%;
     left: 0;
     top: 0;
     pointer-events: none;
     transform: translate(-50%,-50%);
     transition: .15s;
     box-shadow: 0px 0px 20px #73cdbe ;
    
}

.content:hover ~ cursor{
    transform: translate(-50%,-50%) scale(.5);
}



.button:hover ~ cursor{
    cursor: pointer;
    transform: translate(-50%,-50%) scale(1.5);
}

@media screen and (max-width:1000px) {
    
}